@import "/src/styles/color.less";

.header-container {
    // color: var(--font-color);
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.header-user-action {
    cursor: pointer;
}

.header-title,
.header-read,
.header-write,
.header-user-action,
.header-user-sign-in,
.header-user-sign-out,
.header-user-sign-up {
    &:hover {
        color: var(--theme-color);
    }
}
