<div id="header-container">
    <div id="title">
        <h1>{{ title }}</h1>
    </div>
    <!-- <button [routerLink]="['/', { outlets: { main: ['read'] } }]">
    Overview
  </button>
  <button [routerLink]="['/', { outlets: { main: ['write'] } }]">
    Inspiration
  </button> -->
    <div id="read">
        <button mat-stroked-button [routerLink]="['/read']">Overview</button>
    </div>
    <div id="write">
        <button mat-stroked-button [routerLink]="['/write']">
            Inspiration
        </button>
    </div>
    <div id="user">
        <mat-icon id="user-action" [matMenuTriggerFor]="signInMenu"
            >face</mat-icon
        >
        <!-- <button mat-button [matMenuTriggerFor]="signInMenu">Menu</button> -->
        <mat-menu #signInMenu="matMenu">
            <button mat-menu-item *ngIf="!isSignIn" [routerLink]="['/signIn']">
                SignIn
            </button>
            <button mat-menu-item *ngIf="isSignIn" (click)="signOut()">
                SignOut
            </button>
            <button mat-menu-item *ngIf="!isSignIn" [routerLink]="['/signUp']">
                SignUp
            </button>
        </mat-menu>
        <!-- <button mat-stroked-button *ngIf="!isSignIn" [routerLink]="['/signIn']">
            SignIn
        </button> -->
    </div>
    <!-- <div id="test">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
    </div> -->
</div>
