<div class="header-container">
    <div class="header-title">
        <span class="letter letter-one">A</span>
        <span class="letter letter-two">q</span>
        <span class="letter letter-three">u</span>
        <span class="letter letter-four">a</span>
        <span class="letter letter-five">r</span>
        <span class="letter letter-six">i</span>
        <span class="letter letter-seven">u</span>
        <span class="letter letter-eight">s</span>
    </div>
    <div class="header-read">
        <button mat-stroked-button [routerLink]="['/read']">Overview</button>
    </div>
    <div class="header-write">
        <button mat-stroked-button [routerLink]="['/write']">
            Inspiration
        </button>
    </div>
    <div></div>
    <div class="header-user">
        <mat-icon class="header-user-action" [matMenuTriggerFor]="signInMenu"
            >face</mat-icon
        >
        <mat-menu #signInMenu="matMenu">
            <button
                mat-menu-item
                class="header-user-sign-in"
                *ngIf="!isSignIn"
                [routerLink]="['/signIn']"
            >
                Sign In
            </button>
            <button
                mat-menu-item
                class="header-user-sign-out"
                *ngIf="isSignIn"
                (click)="signOut()"
            >
                Sign Out
            </button>
            <button
                mat-menu-item
                class="header-user-sign-up"
                *ngIf="!isSignIn"
                [routerLink]="['/signUp']"
            >
                Sign Up
            </button>
        </mat-menu>
    </div>
    <div class="header-theme">
        <mat-icon class="header-user-action" [matMenuTriggerFor]="themeMenu"
            >color_lens</mat-icon
        >
        <mat-menu #themeMenu="matMenu">
            <!-- background: 'rgba(var(--rgb-' + theme + '), 0.5)' -->
            <button
                mat-menu-item
                class="header-theme-item"
                [ngStyle]="{
                    color: 'var(--color-' + theme + ')'
                }"
                *ngFor="let theme of themes"
                (click)="changeTheme(theme)"
            >
                {{ theme }}
            </button>
        </mat-menu>
    </div>
</div>
