@import "/src/styles/color.less";

#header-container {
    color: @color-silver;
    height: 100%;
    // z-index: 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

#user-action {
    cursor: pointer;
}
