<div class="header-container">
    <div class="header-title">
        <h1>{{ title }}</h1>
    </div>
    <div class="header-read">
        <button mat-stroked-button [routerLink]="['/read']">Overview</button>
    </div>
    <div class="header-write">
        <button mat-stroked-button [routerLink]="['/write']">
            Inspiration
        </button>
    </div>
    <div></div>
    <div class="header-user">
        <mat-icon class="header-user-action" [matMenuTriggerFor]="signInMenu"
            >face</mat-icon
        >
        <mat-menu #signInMenu="matMenu">
            <button
                mat-menu-item
                class="header-user-sign-in"
                *ngIf="!isSignIn"
                [routerLink]="['/signIn']"
            >
                Sign In
            </button>
            <button
                mat-menu-item
                class="header-user-sign-out"
                *ngIf="isSignIn"
                (click)="signOut()"
            >
                Sign Out
            </button>
            <button
                mat-menu-item
                class="header-user-sign-up"
                *ngIf="!isSignIn"
                [routerLink]="['/signUp']"
            >
                Sign Up
            </button>
        </mat-menu>
    </div>
</div>
