@import "/src/styles/color.less";

:host(app-sign-up) {
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--theme-color);
}

.sign-up-container {
    width: 32rem;
    height: 32rem;
    display: grid;
    align-items: center;
    justify-content: center;
    background: @color-white;
    border-radius: 0.5rem;
    opacity: 0.7;
}

.sign-up-form {
    width: 50%;
    height: 50%;
}

.sign-up-password-icon {
    cursor: pointer;
}

.sign-up-password-confirm-icon {
    cursor: pointer;
}
