<div class="sign-up-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
        <div>
            <mat-form-field appearance="outline">
                <mat-label class="sign-up-username-label"
                    >Enter your username</mat-label
                >
                <input
                    matInput
                    autocomplete="off"
                    class="sign-up-username-input"
                    formControlName="username"
                    required
                />
                <mat-icon matSuffix class="sign-up-username-icon">
                    account_circle</mat-icon
                >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label class="sign-up-password-label"
                    >Enter your password</mat-label
                >
                <input
                    matInput
                    autocomplete="off"
                    [type]="hide ? 'password' : 'text'"
                    class="sign-up-password-input"
                    formControlName="password"
                    required
                />
                <mat-icon
                    matSuffix
                    class="sign-up-password-icon"
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label class="sign-up-password-confirm-label"
                    >Confirm password</mat-label
                >
                <input
                    matInput
                    autocomplete="off"
                    [type]="hide ? 'password' : 'text'"
                    class="sign-up-password-confirm-input"
                    formControlName="passwordConfirm"
                    required
                />
                <mat-icon
                    matSuffix
                    class="sign-up-password-confirm-icon"
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label class="sign-up-email-label"
                    >Enter your email</mat-label
                >
                <input
                    matInput
                    autocomplete="off"
                    placeholder="aaa@example.com"
                    class="sign-up-email-input"
                    formControlName="email"
                    required
                />
                <mat-icon matSuffix class="sign-up-email-icon">email</mat-icon>
                <mat-error
                    *ngIf="signUpForm.get('email')?.invalid"
                    class="sign-up-email-error"
                    >{{ getErrorMessage() }}</mat-error
                >
            </mat-form-field>
        </div>

        <button
            mat-button
            class="sign-up-submit-button"
            type="submit"
            [disabled]="signUpForm.invalid"
        >
            SignUp
        </button>
    </form>
</div>
