@import "../../../styles/color.less";

.main-container {
    color: @color-silver;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(20rem, 1fr)) 5fr repeat(
            1,
            minmax(20rem, 1fr)
        );
    column-gap: 0.5rem;
}
.app-category {
    height: 100%;
}
