<div class="overview-container">
    <span
        *ngFor="let article of articles"
        class="overview-card-container"
        [routerLink]="['/article', article.id]"
        routerLinkActive="active"
    >
        <mat-card class="overview-card">
            <mat-card-header class="overview-card-header">
                <div mat-card-avatar></div>
                <mat-card-title class="overview-title">{{
                    article.title
                }}</mat-card-title>
                <mat-card-subtitle class="overview-time">{{
                    article.createdAt | date: "yyyy-MM-dd HH:mm:ss"
                }}</mat-card-subtitle>
                <mat-card-subtitle class="overview-author">
                    {{ article.createdBy }}</mat-card-subtitle
                >
            </mat-card-header>
            <!-- <img mat-card-image src="../../../assets/deno.png" alt="Photo of deno" /> -->
            <mat-card-content class="overview-card-content">
                <p
                    [innerHTML]="article.content"
                    class="overview-card-content-article"
                ></p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="editArticle($event, article.id)">
                    Edit
                </button>
                <button mat-button (click)="deleteArticle($event, article.id)">
                    Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </span>
</div>
