<div class="overview-container">
    <span *ngFor="let article of articles" class="overview-card-container">
        <mat-card class="overview-card">
            <mat-card-header class="overview-card-header">
                <!-- <div mat-card-avatar></div> -->
                <mat-card-title
                    class="overview-title"
                    [routerLink]="['/article', article.id]"
                    routerLinkActive="active"
                    >{{ article.title }}</mat-card-title
                >
                <mat-card-subtitle>
                    <span class="overview-time">{{
                        article.createdAt | date: "yyyy-MM-dd HH:mm:ss"
                    }}</span>
                    <span class="overview-author">
                        {{ article.createdBy }}</span
                    >
                    <span class="overview-tags">
                        <span
                            *ngFor="let tag of article.tags"
                            class="overview-tags"
                            class="overview-tag"
                            >{{ tag.name }}</span
                        >
                    </span>
                </mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="../../../assets/deno.png" alt="Photo of deno" /> -->
            <mat-card-content class="overview-card-content">
                <p
                    [innerHTML]="article.content"
                    class="overview-card-content-article"
                ></p>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-button
                    (click)="editArticle($event, article)"
                    class="action-edit"
                >
                    Edit
                </button>
                <button
                    mat-button
                    (click)="deleteArticle($event, article)"
                    class="action-delete"
                >
                    Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </span>
</div>
