<div class="sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in-form">
        <div>
            <mat-form-field appearance="outline">
                <mat-label class="sign-in-username-label"
                    >Enter your username</mat-label
                >
                <input
                    matInput
                    autocomplete="off"
                    class="sign-in-username-input"
                    formControlName="username"
                />
                <mat-icon matSuffix class="sign-in-username-icon">
                    account_circle</mat-icon
                >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label class="sign-in-password-label"
                    >Enter your password</mat-label
                >
                <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    class="sign-in-password-input"
                    formControlName="password"
                />
                <mat-icon
                    matSuffix
                    class="sign-in-password-icon"
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
            </mat-form-field>
        </div>

        <button mat-button class="sign-in-submit-button" type="submit">
            SignIn
        </button>
    </form>
</div>
