<div id="sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name"> Usernanme </label>
            <input
                autocomplete="off"
                id="username"
                type="text"
                formControlName="username"
            />
        </div>

        <div>
            <label for="password"> Password </label>
            <input id="password" type="password" formControlName="password" />
        </div>

        <button class="button" type="submit">SignIn</button>
    </form>
</div>
