@import "/src/styles/color.less";

:host(app-sign-in) {
    display: grid;
    justify-items: center;
    align-items: center;
}

.sign-in-container {
    width: 32rem;
    height: 32rem;
    display: grid;
    align-items: center;
    justify-content: center;
    background: @color-white;
    border-radius: 0.5rem;
    opacity: 0.7;
    box-shadow: 0 0 0.2rem 0.2rem rgba(var(--rgb-clouds, 0.5));
    &:focus-within {
        box-shadow: 0 0 0.3rem 0.3rem var(--theme-color);
    }
}

.sign-in-form {
    width: 50%;
    height: 50%;
}

.sign-in-password-icon {
    cursor: pointer;
}
