@import "/src/styles/color.less";

:host(app-sign-in) {
    display: grid;
    justify-items: center;
    align-items: center;
}

.sign-in-username-label {
    color: @color-wisteria;
}

.sign-in-username-input {
    color: @color-wisteria;
}

.sign-in-password-label {
    color: @color-wisteria;
}

.sign-in-password-input {
    color: @color-wisteria;
}
.sign-in-password-icon {
    cursor: pointer;
}
