<div id="category-container">
    <div id="add-tag-container">
        <mat-form-field id="add-tag-form-field">
            <mat-label id="add-tag-label">Add a tag</mat-label>
            <input
                id="add-tag-input"
                matInput
                type="text"
                [(ngModel)]="tag.value"
                #tag
            />
            <button
                mat-button
                *ngIf="tag.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="tag.value = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button id="add-tag-button" (click)="addTag(tag.value)">
            Add
        </button>
    </div>

    <div id="get-tag-container">
        <mat-chip-list
            class="mat-chip-list-stacked"
            aria-orientation="vertical"
        >
            <mat-chip
                color="primary"
                *ngFor="let tag of tags"
                [removable]="removable"
                (removed)="deleteTag(tag)"
            >
                {{ tag.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
