<div class="category-container">
    <div class="category-add-tag-container" *ngIf="addable">
        <mat-form-field class="category-add-tag-form-field">
            <mat-label class="category-add-tag-label">Add a tag</mat-label>
            <input
                class="category-add-tag-input"
                matInput
                type="text"
                [(ngModel)]="tag.value"
                #tag
            />
            <button
                mat-button
                *ngIf="tag.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="tag.value = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button
            mat-button
            class="category-add-tag-button"
            (click)="addTag(tag.value)"
        >
            Add
        </button>
    </div>

    <div class="category-get-tag-container">
        <mat-chip-list>
            <mat-chip
                color="primary"
                *ngFor="let tag of tags"
                [removable]="removable"
                (removed)="deleteTag(tag)"
            >
                {{ tag.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
