li {
    // color: red;
    list-style: none;
}
// mat-chip-list-wrapper {
// display: grid;
// justify-items: center;
//   align-items: center;
// margin: 2rem 0;
// row-gap: 2rem;
// height: 100%;
// }
mat-chip {
    width: fit-content !important;
    height: 100%;
    line-height: 100%;
}

#add-tag-container {
    // height: 20%;
    // background: white;
}
#add-tag-label {
    color: #3f51b5;
}

#add-tag-input {
    color: #3f51b5;
}

#add-tag-button {
    width: fit-content;
    color: #3f51b5;
}

#category-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    align-items: center;
    // justify-content: center;
}
