@import "/src/styles/color.less";
li {
    list-style: none;
}
.mat-chip {
    width: fit-content !important;
    height: 100%;
    line-height: 100%;
}

.category {
    &-container {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 4fr;
        margin-left: 5rem;
    }

    &-add,
    &-get {
        border: 1px solid fade(@color-black, 10%);
        border-radius: 2px;
        box-shadow: 0 0 2px 2px fade(@color-grey, 10%);
        padding: 1rem;
    }

    &-add {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    &-get {
        margin: 1rem;
    }
    &-add-button {
        width: fit-content;
        &:hover {
            color: var(--theme-color);
        }
    }
}
