@import "/src/styles/color.less";
li {
    list-style: none;
}
.mat-chip {
    width: fit-content !important;
    height: 100%;
    line-height: 100%;
}

// .category-add-tag-label {
//     color: @color-wisteria;
// }

// .category-add-tag-input {
//     color: @color-wisteria;
// }

.category-add-tag-button {
    width: fit-content;
    // color: @color-wisteria;
    &:hover {
        color: var(--theme-color);
    }
}

.category-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin-left: 5rem;
}

.category-add-tag-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.category-get-tag-container {
    margin: 1rem;
}
