@import "../styles/color.less";
.app-container {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--font-color);
}
.app-background-canvas {
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

.app-header-container {
    background: @color-black;
    // position: sticky;
    // top: 0;
    height: 6rem;
    box-shadow: 0 3px 0.5rem -3px rgba(var(--theme-rgb), 0.2);
    margin-bottom: 1rem;
    &:hover {
        box-shadow: 0 3px 0.5rem -3px rgba(var(--theme-rgb), 0.8);
    }
}

.app-main-container {
    height: calc(100% - 7rem);
}

.app-footer-container {
    height: 3rem;
}

.app-main {
    height: 100%;
}
