@import "../styles/color.less";
.app-container {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    color: @color-silver;
}
.app-background-canvas {
    background: @color-black;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.app-header-container {
    h1 {
        margin: 0;
    }
    height: 8%;
    min-height: 6rem;
    border-bottom: 1px solid @color-asberstos;
    margin-bottom: 0.5rem;
}

.app-main-container {
    height: 87%;
}

.app-footer-container {
    height: 5%;
}

.app-main {
    height: 100%;
}
