<div
    #app
    class="app-container"
    (window:resize)="resize()"
    (mousemove)="mouseMove($event)"
>
    <canvas #backgroundCanvas class="app-background-canvas"></canvas>
    <header class="app-header-container">
        <app-header></app-header>
    </header>
    <main class="app-main-container">
        <app-main class="app-main"></app-main>
    </main>
    <!-- <aside></aside> -->
    <!-- <footer class="app-footer-container">
        <app-footer></app-footer>
    </footer> -->
    <!-- <router-outlet></router-outlet> -->
</div>
