<div class="inspiration-container">
    <mat-form-field class="inspiration-title-form-field">
        <mat-label class="inspiration-title-label">Add title</mat-label>
        <input
            class="inspiration-title-input"
            matInput
            type="text"
            [(ngModel)]="title.value"
            #title
            (keyup)="onKey(title.value)"
            autocomplete="off"
        />
        <button
            mat-button
            *ngIf="title.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearTitle(title)"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="inspiration-select-tag">
        <app-select-tag></app-select-tag>
    </div>
    <div class="inspiration-editor-container">
        <div class="inspiration-editor-menu"></div>
        <div class="inspiration-editor-body"></div>
    </div>
    <button
        mat-button
        class="category-add-article-button"
        (click)="addArticle(title)"
    >
        Add Article
    </button>
</div>
