<!-- <h1>TinyMCE 5 Angular Demo</h1>
<editor
  [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor> -->
<div id="inspiration-container">
  <div id="title">
    <input
      type="text"
      placeholder="input article title"
      #title
      (keyup)="onKey(title.value)"
    />
  </div>
  <div id="editorMenu"></div>
  <div id="editor"></div>
  <button (click)="addArticle()">Add Article</button>
</div>
