<!-- <h1>TinyMCE 5 Angular Demo</h1>
<editor
  [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor> -->
<div id="inspiration-container">
    <!-- <div id="inspiration-title">
        <input
            id="inspiration-title-input"
            type="text"
            placeholder="input article title"
            #title
            (keyup)="onKey(title.value)"
        />
    </div> -->
    <mat-form-field id="inspiration-title-form-field">
        <mat-label id="inspiration-title-label">Add title</mat-label>
        <input
            id="inspiration-title-input"
            matInput
            type="text"
            [(ngModel)]="title.value"
            #title
        />
        <button
            mat-button
            *ngIf="title.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="title.value = ''"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div id="inspiration-select-tag">
        <app-select-tag></app-select-tag>
    </div>
    <div id="editorMenu"></div>
    <div id="editor"></div>
    <button id="inspiration-add-article" (click)="addArticle()">
        Add Article
    </button>
</div>
