/* You can add global styles to this file, and also import other style files */
@import "./styles/color.less";
// @import '~highlight.js/styles/github.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
